<html>
<head>
	<title>Donut Finder</title>
	<link rel="stylesheet" type="text/css" href="../css/show.css">
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
 	<script type="text/javascript" src="../js/locationsshow.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Karla:400,700,400italic' rel='stylesheet' type='text/css'>

</head>
<body>

	<!-- Navigation/header bar -->
	<nav  id="header-div">
		<div>

			<h1><%= location.name %>!!!!!!</h1>
		</div>

		<div id="home">
			<a href="/users"><img src="/images/donut3.png"><br>
			MAIN</a><br>
		</div>
	</nav>


	<a href="javascript:history.back()">Go Back</a>
Hi WORLD this is the locations index for 

	<h1><%= location.name %>!!!!!!</h1>

	<div id="map-canvas"></div>

	<h3>Check out these reviews</h3>

	<ul>
		<% for (var i = 0; i < review.length; i++ ) { %>
			

	<li>Posted By: <a href="/users/<%= review[i].userid %>"> <%= review[i].author %></a> </li>
	<li>Best: <%= review[i].best %> </li>
	<li>Comments: <%= review[i].comments %> </li>


	<%	} %>
	</ul>

</body>
</html>