<html>
<head>
	<title>Donut Finder</title>
	<link rel="stylesheet" type="text/css" href="../css/show.css">
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Karla:400,700,400italic' rel='stylesheet' type='text/css'>

</head>
<body>

	<!-- Navigation/header bar -->
	<nav  id="header-div">
		<div>
			<h1><%= location.name %></h1>
			<h4>REVIEWS</h4>
		<div>

		<div id="home">
			<a href="javascript:history.back()"><img src="/images/donut3.png"><br>
			RESULTS</a><br>
		</div>
	</nav>

<main id="main-googlemaps">

	<div id="google-parent-div">
		<div id="map-canvas"></div>
	</div><br><br>

	<h3>Check out these reviews: </h3><br>


	<section id="locations-section">
		<ul>
			<% for (var i = 0; i < review.length; i++ ) { %>
					
				<li><%= review[i].dateCreated%></li>
				<li><strong>Posted By:</strong> <a href="/users/<%= review[i].userid %>"> <%= review[i].author %></a> </li>
				<li id="bestone"><strong>Best: </strong> <%= review[i].best %> </li>
				<li><strong>Comments: </strong><%= review[i].comments %> </li>
				<%	} %>
		</ul>
	</section>

</main>

	 	<script type="text/javascript" src="../js/locationsshow.js"></script>
</body>
</html>