<html>
<head>
	<title>TESTING YELP</title>
	<script type="text/javascript" src="/js/locationsindex.js"></script>
	<script type="text/javascript" src="src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'"></script>
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

</head>
<body>
<h2>Here are the results!</h2>


	<% for (var i = 0; i < data.businesses.length; i++) { %>
		<img src="<%= data.businesses[i].image_url%>"/>
		<%= data.businesses[i].name %>
			<%for (var j = 0; j < location.length; j++) { %>
		


			<!-- checks to see if location exists in local database -->
			<% if (location[j].nameid == data.businesses[i].id) { %>
				<a href="/locations/<%= data.businesses[i].id %>">Check the reviews for <%= data.businesses[i].name%></a><br>
			<%	} %>
		<% } %>

		<form action="/users/<%= user.id %>/reviews" method="POST">
			<input type="text" name="best" placeholder="The best item is.."></br>
			<input type="text" name="comments" placeholder="Leave a short comment.."><br>
			<input type="text" name="imgurl" placeholder="imgurl (ie. 'http://www.imgurl.com')">
		 <!-- hidden tags to save business info to DB -->
		  <input type="hidden" name="name" value="<%= data.businesses[i].name%>">
		  <input type="hidden" name="nameid" value="<%= data.businesses[i].id%>">
		  <input type="hidden" name="latitude" value="<%= data.businesses[i].location.coordinate.latitude%>"><br>
		  <input type="hidden" name="longitude" value="<%= data.businesses[i].location.coordinate.longitude%>"><br>
		  <button>Post Review</button>
		</form>
	
	<% } %>

	<h3>Reviews!</h3>
	<ul id="reviews"></ul>

	<a href="/locations/show.ejs">Click here for show page</a>

</body>
</html>