<html>
<head>
	<title>Donut Share Search Results</title>
	<script type="text/javascript" src="/js/userlocations.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/show.css">
	<script type="text/javascript" src="src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'"></script>
	<link href='https://fonts.googleapis.com/css?family=Karla:400,700,400italic' rel='stylesheet' type='text/css'>

</head>
<body>

		<!-- Navigation/header bar -->
	<nav  id="header-div">
		<div>
			<h1><%= user.username %></h1>
			<h4>SEARCH RESULTS</h4>
		</div>
 
		<% if (usertrue) { %>
			<div id="home">
				<a href="/users/<%=user.id%>"><img src="/images/donut3.png"><br>
				PROFILE</a><br>
			</div>
		<% } %>
	</nav>

<main id="locations-main">

	<h2>Share your favorite donut!</h2><br><br>


	<% for (var i = 0; i < data.businesses.length; i++) { %>

		<div class="reviews-container">

			<div class="review-img" id="review-img-results">
					<img id="yelp-img" src="<%= data.businesses[i].image_url%>"/>
			</div>
	

			<div class="review-div" id="review-div-locations">

			<h2><%= i+1 %>. <%= data.businesses[i].name %></h2>

				<%for (var j = 0; j < location.length; j++) { %>

				<!-- checks to see if location exists in local database -->
				<% if (location[j].nameid == data.businesses[i].id) { %>
					<a href="/locations/<%= data.businesses[i].id %>">Check out reviews for <%= data.businesses[i].name%></a><br>
				<%	} %>
			<% } %>

			<form class="userform" id="userform-locations" name="newreview" action="/users/<%= user.id %>/reviews" method="POST" onsubmit="check()">
				<strong>BEST:</strong><br>
					<input type="text" name="best" placeholder="Your favorite item"></br>
				<strong>REVIEW:</strong><br>
					<textarea name="comments" rows="4" cols="30" placeholder="Like a mini donut, keep it sweet and simple."></textarea><br>
				<strong>PHOTO URL: </strong><br>
					<input id="test" type="text" name="imgurl" placeholder="http://www.img.url">
			 <!-- hidden tags to save business info to DB -->
				  <input type="hidden" name="name" value="<%= data.businesses[i].name%>">
				  <input type="hidden" name="nameid" value="<%= data.businesses[i].id%>">
				  <input type="hidden" name="latitude" value="<%= data.businesses[i].location.coordinate.latitude%>"><br>
				  <input type="hidden" name="longitude" value="<%= data.businesses[i].location.coordinate.longitude%>"><br>
				  <button>POST REVIEW</button>
			</form>

			</div>
		</div>
	<% } %>

	<h3>Reviews!</h3>
	<ul id="reviews"></ul>

	<a href="/locations/show.ejs">Click here for show page</a>

</main>

</body>
</html>