<html>
<head>
	<title>Edit the Reviews</title>
</head>
<body>
Hi WORLD this is the USER SHOW PAGE!! <p>Test to see if user is on: <%= usertrue %></p>

	<h2> This is <%= user.username %>'s Page!</h3>

	<p>Here you can see all reviews posted by <%=user.username%></p>

	<h3> SEARCH HERE </h3>
	<form action="/users/<%= user.id %>/locations/" method="POST">
		<input type="text" name="zipcode" placeholder="zipcode"><br>
		<button>SUBMIT</button>
	</form>

	<h3>User's Locations</h3>
	<ul>
		<% for (var i = 0; i < user.locations.length; i++) { %>
		<li>Location <%= i+1 %>: <%= user.locations[i].name%></li>
		<% } %>
	</ul>

	<h3>User's Reviews</h3>
	<ul>
		<% for (var i = 0; i < review.length; i++) { %>
		<li>Favorite: <%= i+1 %>: <%= review[i].best%></li>
		<li>Review: <%= i+1 %>: <%= review[i].comments%></li>
		<% } %>

	</ul>

	<a href="/users">Return Home</a>

</body>
</html>