<html>
<head>
	<title>Donut Finder</title>
	<link rel="stylesheet" type="text/css" href="../css/show.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="../js/usershow.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Karla:400,700,400italic' rel='stylesheet' type='text/css'>

</head>
<body>

	<!-- Navigation/header bar -->
	<nav  id="header-div">
		<div>
			<h1><%= user.username %></h1>
			<h4>PROFILE</h4>
		</div>

		<div id="home">
			<a href="/users"><img src="http://cdn.mysitemyway.com/icons-watermarks/flat-circle-white-on-black/bfa/bfa_shopping-cart/bfa_shopping-cart_flat-circle-white-on-black_512x512.png"><br>
			MAIN</a><br>
		</div>
	</nav>

	<section>


		<h3> SEARCH HERE</h3>
		<form action="/users/<%= user.id %>/locations/" method="POST">
			<input id="searchbar" type="text" name="zipcode" placeholder="Search by: zipcode, neighborhood, or city">
			<input id="submitbutton" type="submit" value=" FIND ">
		</form>

	</section>

	<main>
		<br>
		<h3><%=user.username%>'s Reviews</h3><br><br>

		<!-- checks for 0 reviews -->
		<% if (review.length == 0) { %>

				<div id="noreviews">You have no reviews. Start searching for those donuts above!</div>

			<% } else { %>

		<!-- for every review, create new reviews container -->

		<% for (var i = 0; i < review.length; i++) { %>

		<div class="reviews-container">

			<div id="review-img">
				<a href="/locations/<%= user.locations[i].nameid %>">
					<img src="<%= user.locations[i].imgurl%>">
				</a>
			</div>


			<div id="review-div">

			<ul>
				
				<li><h2><%= i+1 %>. <a href="/locations/<%= user.locations[i].nameid %>"><%= review[i].name %></a></h2></li>
				<li id="bestone"><strong>BEST:</strong> <%= review[i].best%></li>
				<li><%= review[i].comments%></li>
					<% if (usertrue) { %> 
					
					<form class="userform" action="/users/<%= user.id %>/review" method="POST">
						<input type="hidden" name="review_id" value="<%=review[i].id%>">
						<button>EDIT</button>
					</form>

					<form class="userform" action="/users/<%= user.id %>/deletereview" method="POST">
						<input type="hidden" name="review_id" value="<%= review[i].id %>">
						<input type="hidden" name="nameid" value="<%= review[i].nameid %>">
						<input type="hidden" name="_method" value="DELETE">
						<button>DELETE</button>
					</form>
					<% } %> 

		

			</ul>
		</div><br>
				<% } %>

		<%	} %>

			<!-- DELETES USER and associated Reviews -->
			<% if (usertrue) { %> 
				<form id="deletebutton" action="/users/<%= user.id %>" method="POST">
					<input type="hidden" name="_method" value="DELETE">
					<button id="delete-button">Delete Self</button>
				</form>
				<% } %>


		</div>
	</main>

</body>
</html>